<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CSS Flexbox</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body id="top" class="cssflexbox">
    <header class="header">
      <a href="/index.html"
        ><img
          src="https://cdn.glitch.com/bc2980dc-21e3-43fc-8c6c-5e88354fe0de%2Fgrid-layout.png?v=1584896159539"
          alt="Grid Layout"
          class="logo"
      /></a>
      <nav class="nav">
        <ul class="no-style navigation">
          <li>
            <a
              href="https://www.w3schools.com/cssref/css_units.asp"
              target="_blank"
              >CSS Units</a
            >
          </li>
          <li>
            <a
              href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
              target="_blank"
              >A Complete Guide to Flexbox</a
            >
          </li>
          <li>
            <a
              href="https://www.w3schools.com/css/css3_flexbox.asp"
              target="_blank"
              >CSS Flexbox Layout Module</a
            >
          </li>
          <li><a href="" target="_blank">Basic concepts of flexbox</a></li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <div class="introduction">
        <h1>
          What is CSS Flexible Box Layout
          <small>commonly known as Flexbox</small>?
        </h1>
        <p>
          The <b>flex layout</b> allows responsive elements within a container
          to be automatically arranged depending upon screen size.
        </p>
      </div>

      <div class="flexboxes">
        <div class="box">
          <h2>
            Title One
          </h2>
          <p>
            Nam eget magna nibh. Etiam fermentum in ligula vel rhoncus. Vivamus
            quis arcu urna. Suspendisse erat elit, accumsan vel sodales non,
            lobortis eget velit. Fusce sed malesuada justo, vitae facilisis
            lacus. Cras magna felis, cursus eget vulputate sit amet, sodales sit
            amet justo. Morbi mollis molestie magna. Mauris ligula ligula,
            tincidunt nec mi in, volutpat molestie felis. Ut ultricies nunc eget
            dictum sagittis. Mauris nulla tortor, hendrerit in ipsum non,
            fermentum vehicula massa. Suspendisse sed justo ullamcorper, rhoncus
            leo sit amet, hendrerit nisl.
          </p>
        </div>

        <div class="box">
          <h2>
            Title Two
          </h2>
          <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Phasellus a lectus sed nisi pulvinar
            faucibus. Morbi venenatis quam in ligula vehicula aliquam. Mauris
            eleifend quis odio in fringilla. Phasellus lectus metus, tristique
            quis ornare a, blandit et ipsum. In vitae feugiat orci. Mauris
            euismod, nisl ac bibendum rhoncus, ex mi porttitor sapien, et
            finibus turpis sem at magna. Cras non purus eu tellus fermentum
            vulputate. Maecenas posuere erat justo, in sollicitudin orci luctus
            quis. Aenean vel nunc maximus, euismod felis at, faucibus dui. Proin
            accumsan est libero, et faucibus tortor porta et. Praesent a
            ultricies sapien. Aenean eu sodales lacus.
          </p>
        </div>

        <div class="box">
          <h2>
            Title Three
          </h2>
          <p>
            Aliquam in augue ut sem lobortis pulvinar eu at ipsum. Cras laoreet
            sit amet felis id varius. Nulla in semper diam. Proin sit amet nibh
            sem. Ut vel dolor fermentum, ornare ante non, ullamcorper nisi.
            Donec nisi nibh, sagittis quis urna porttitor, egestas euismod
            massa. Nulla euismod lorem ex, ac rhoncus ante convallis non.
          </p>
        </div>
        
      </div><!-- .flexbox -->
    </main>
    <footer>
      <p>
        <a
          href="https://www.w3schools.com/charsets/ref_emoji.asp"
          target="_blank"
          >Emoji Unicode Reference</a
        ><br />
        Great job <span style="font-size:1em;">&#128077;</span>
      </p>
    </footer>
  </body>
</html>
