<!DOCTYPE html>
<html>
  <head>
    <!-- NOTE:
    The charset attribute can be used as a shorthand method to define an HTML document's character set, which is always a good thing to do. 
 -->
    <meta charset="UTF-8" />
    <!-- NOTE:
    A <meta> viewport element gives the browser instructions on how to control the page's dimensions and scaling. The width=device-width part sets the width of the page to follow the screen-width of the device (which will vary depending on the device). 
 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- NOTE:
     allows web authors to choose what version of Internet Explorer the page should be rendered as. 
 -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="First HTML5 Code" />
    <meta name="keywords" content="HTML5 and CSS" />
    <meta name="author" content="First and Last Name" />

    <title>HTML5 Template</title>
  </head>
  <body>
    <header>
      <img src="https://picsum.photos/100" alt="logo">
      <nav>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Contact Us</li>
        </ul>
      </nav>
    </header>
    
    <main>
      
      <div class="hero">
        <h1>
          Welcome to HTML5
        </h1>
        <p>
          This is the hero
        </p>        
      </div>
      
      <div class="content">
        <p>
          This is the main content of the site
        </p>        
      </div>
    </main>
    
    <footer>
      <p>
        &copy; 2020 All Rights Reserved
      </p>
    </footer>
    
  </body>
</html>